<% @title="Appointment created" %>
<h2><%=@title%></h2>
<span>Thanks <%= @appointment.name%>, your appointment was created successfully.<span>
<br/>
<br/>
<%= link_to 'Back', :controller=>"home", :action => "index" %> or 
<%= link_to 'Add another appointment', :controller=>"appointment", :action => "new" %>
