body
{
    font-family: Verdana;
    background: url(../images/bg.jpg) 0 0 repeat-x #fff;
    font-size: 12px;
}

h1
{
    font-size: 30px;
    color: #6a4c31;
    font-weight: normal;
}

h2
{
    font-size: 25px;
    color: #6a4c31;
    font-weight: normal;
}

a
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: underline; /*text-transform: uppercase;*/
}
/*Footer style*/
#header
{
    overflow: hidden;
    text-align: center;
    border-bottom: #d2d9d8 2px solid;
}
/*Footer style*/
#footer
{
    overflow: hidden;
    text-align: center;
    border-top: #d2d9d8 2px solid;
}

div .editor-label
{
    clear: left;
    display: block;
    float: left;
    line-height: 15px;
    white-space: nowrap;
}

div .editor-field
{
    display: inline;
    float: left;
    margin-bottom: 10px;
}

.editor-label
{
    width:90px;    
}

input[type=text], textarea
{
    width: 250px;
}

input[type=text], input[type=password], textarea, select
{
    border: 1px solid #D2D9D8;
}

textarea
{
    resize: none;
}

.formbuttons
{
    clear: left;
    text-align: enter;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 160px;
}

td.tcell_label
{
    font-size: 11px;
    font-weight: bold;
    padding:3px;
    width:150px;
}
td.tcell_text
{
    padding-left:3px;
    width:250px;
}

/* Styles for validation helpers */
/*{*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
/* Styles for validation helpers */
/*}*/
